*{
     margin: 0;
     padding: 0;
     font-family: 'poppins',sans-serif;
     box-sizing: border-box;
 }
 
 a{
     text-decoration: none;
     color: #212122;
 }
 
 img{
     cursor: pointer;
 }
 
 nav{
     padding: 10px 2%;
     justify-content: space-between;
     box-shadow: 0 0 10px rgba(0,0,0,0.2);
     background: #fff;
     position: sticky;
     top:0;
     background-color: white;
     z-index: 10;
 }
 
 .flex-div{
     display: flex;
     flex-direction: row;
     align-items: center;
 }
 
 .nav-left{
     width: 150px;
     height: 30px;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    display: flex;
     flex-direction: row;
 }
 
 
 .nav-right{
    background-color: white;
    text-align: center;
    /* border: 1px solid red; */
 }
 
 .nav-right .nav_ul{
     display: inline-flex;
     align-items: center;
     list-style: none;
     color: #fff;
     /* border: 1px solid red; */
 }
 
 .nav-right .nav_ul .nav_li{
     width:  100%;
     /* border: 1px solid rebeccapurple; */
     padding-left: 30px;
 }
 

 .sub-class{
     display: none;
     /* border: 1px solid red; */
 }
 
 
 .sub-class ul{
     display: flex;
     flex-direction: column;
 }
 
 
 .upload_li
 {
     /* background-color: black; */
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;   
 }
 
 
 .larger_ul{
    display: block;
    position: absolute;
    background-color:rgb(223, 223, 227);
    color: black;
    margin-top: 50px;
    /* margin-right: 30px; */
    /* margin-right: 200px; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* border: 1px solid rgb(10, 9, 9); */
 }
 
 .larger_ul li{
     display: flex;
     width: 150px;
     list-style-type: none;
     padding: 5px;
 }
 
 .larger_ul li img{
     margin-right: 10px;
 }
  
 .profile_sub_class{
     display: none;
 }
 
 .profile_li{
     display: flex;
     flex-direction: column;
     align-items: end;
 }
 
 .larger_profile{
         position: absolute;
         background-color:rgba(240, 240, 243, 0.952);
         display: flex;  
         flex-direction: column; 
         /* border: 2px solid red; */
         color: black;
         margin-top: 50px;
         padding: 5px;
         border-radius: 10px;
         justify-content: end;
         align-items: end;      
 }
 
 .larger_profile .profile_detail{
     display: flex;
     flex-direction: row;
     align-items: start;
     justify-content: space-around;
     color: black;
     width: 200px;
     /* border: 2px solid rgb(34, 0, 255); */
     margin-bottom: 5%;
 }
 
 
 .profile_detail  .profile_name{
     /* position: relative; */
     display: flex;
     flex-direction: column;
     align-items: start;
 }
 
 .logOut{
     display: flex;
     /* border: 2px solid red; */
     justify-content:start;
     align-items: center;
     width: 100%;
     padding: 7px;
     cursor: pointer;
 }
 .logOut img{
     margin-right: 18px;
 }
 
 
 .larger_profile hr{
     color: black;
     width: 100%;
     margin-bottom: 3%;
 }
 
 .profile_name p{
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
 }
 
 
 .profile_name a{
     text-decoration: none;
     margin-top: 5%;
 }
 
 
 .profile_icon{
    margin-top: 15px;
 }
 
 
 #avatar{
     width: 30px;
     height: 30px;
     border-radius: 50%;
     margin-right: 0px;
 }
 
 .nav-left .menu_icon{
     /* border: 2px solid red; */
    width: 30px;
    margin-right:10px ;
 }
 
 /* signIn css */
 .nav-right img{
     width: 25px;
     height: 25px;
 }
 
 .nav-right button
 {
     border-radius: 20px;
     width: 100px;
    outline: 0px;
    border: 1px solid #212122;
    padding: 3px;
     background: transparent;
     cursor: pointer;
 
 }
 .nav-right button p{
     padding-left: 5%;
     font-size: 15px;
     font-weight: bold;
 }
 
 .nav-right .signInBtn{
 display: flex;
 /* flex-direction: row; */
  justify-content: center;
  align-items: center;
 }
 
 
 

/* --------------nav middle---------- */

.nav-middle{
    width: 300px;
    height: 40px;
    display: flex;
}

.search-box{
    /* width: 400px; */
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-middle .search-box input{
    width: 400px;
    height: 30px;
    font-size: 16px;
    border: 0px;
    outline:0px;
    background: transparent;
}

.nav-middle .search-box img{
    width: 20px;
    height: 20px;
    margin-top: 3px;
}


/* -------------sidebar-------------------*/
.sidebar{
     background: #fff;
     width: 20%;
     height: 100vh;
     position:absolute;
     /* border: 1px solid red; */
     top: 0px;
     /* padding-left: 2%; */
     margin-top: 60px;
 }
 
 .shortcut-link a{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
     padding-left: 5%;
     padding-top: 2%;
     
     margin-bottom: 20px;
     flex-wrap: wrap;
     /* border: 1px solid red; */
    
 }
 
 
 .shortcut-link a img{
     width: 22px;
     height: 22px;
     margin-right: 10px;
     
 }
 
 .shortcut-link .short{
     display: flex;
     flex-direction: row;
     justify-content:flex-start;
 }
 
 .shortcut-link a:first-child{
     color: #ed3833;
 }
 
 .sidebar hr{
     border: 0px;
     height: 1px;
     background: #a1a0a0;
     width: 75%;
     margin-top: 5%;
     margin-bottom: 5%;
 }
 
 .singInInfo{
     display: flex;
     width: 75%;
     /* border: 2px solid red; */
 }
 
 .singInInfo .info{
     font-size: 14px;
     font-weight: bold;
     margin-bottom: 10px;
 }
 
 
 .singInInfo button
 {
     border-radius: 20px;
     width: 100px;
     height: 35px;
    outline: 0px;
    border: 1px solid #212122;
    padding: 3px;
     background: transparent;
     cursor: pointer;
 
 }
 .singInInfo button p{
     padding-left: 5%;
     font-size: 15px;
     font-weight: bold;
 }
 
 .singInInfo .signInBtn{
 display: flex;
 /* flex-direction: row; */
  justify-content: center;
  align-items: center;
 }
 
 .subscribed-list h3{
     font-size: 13px;
     margin: 20px 0;
     color: #fc1e1e;
 }
 
 .subscribed-list a{
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-bottom: 20px;
     width: fit-content;
     flex-wrap: wrap;
 }
 
 .subscribed-list a img{
     width: 25px;
     height: 25px;
     margin-left: 10px;
     border-radius: 50%;
     margin-right: 20px;
 }

 .subscribed-list h3{
    margin-left: 10px;
 }
 
 .small-sidebar{
     width: 5%;
 }
 
 .small-sidebar a p{
   display: none;
 
 }
 
 .small-sidebar h3{
     display: none;
 }
 
 .small-sidebar hr{
     width: 50%;
     margin-bottom: 25px;
     display: none;
 }
 
 .small-sidebar .subscribed-list{
     display: none;
 }
.main{
     /* border: 2px solid red; */
     margin-left: 21%;
     display: flex;
     flex-direction: column;
     /* align-items: center; */
     justify-content: center;  
     margin-top: 10px;   
}

.main hr{
     width: 90%;
}

.sec{
     margin-top: 10px;
}

#sec1{
     /* border: 2px solid rebeccapurple; */
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: start;
     padding: 1%;
}

.channel_logo{
     width: 150px ;
     height: 150px;
     border-radius: 50%;
     position: relative;
     /* background-color:black; */
     transition-property: opacity;
     transition-duration:.5s ;
     transition-timing-function: ease-in-out ;
     background-image: url("/frontend/image.folder/avatar.jpg");
     background-size: cover;
     background-position: center;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;

}

#logob{
     position: relative;
     width: 20px;
     height: 20px;
     transition-property: opacity;
     transition-duration:.5s ;
     transition-timing-function: ease-in-out ;
     opacity: 0;
}

#sec1 .channel_detail{
     margin-left: 3%;
}

#sec1 .channel_detail .name{
   font-size: 50px;
   font-weight: 500;
}
#sec1 .channel_detail  .user_name{
     margin-top: 5px;
}

#sec1 .channel_detail .subscriber{
     margin-top: 3%;
     font-size: 15px;
}

#sec1 .channel_detail .edit{
     width: 60%;
     height: 30px;
     margin-top: 4%;
     border-radius:  30px;
     outline: none;
     border: none;
     font-size: 15px;
     align-items: center;
     cursor: pointer;
}

#sec2 ul{
     list-style: none;
     display: inline-flex;
     justify-content: space-evenly;
     margin-bottom: 13px;
     /* border: 2px solid red; */
}

#sec2 li{
     margin-right: 30px;
     font-size: 17px;
     font-weight: bold;
     cursor: pointer;
     /* border: 2px solid red; */
     padding: 5px;
     border-radius: 10px;
     /* background-color: red; */
}

#sec2 li:hover{
    background-color: rgb(225, 224, 224);
}


#sec3{
     width: 100%;
     height: 60vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     /* padding-left: 30%; */
     padding-right: 10%;
     justify-content: center;
     /* border: 2px solid red; */
     display: none;
}

#sec3 img{
     width: 150px;
     height: 150px;
     margin-bottom: 30px;
     /* margin-left: 10%; */
     
}


#sec3 p{
     margin-bottom: 5px;
     font-size: 17px;
     font-weight: 500;
}


 /* -----------main---------- */
 

 /* --------------home------------ */
 .home{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* display: none; */
}

 .home .vid{
    display: flex;
    flex-direction: row;
    align-items: start;

    margin-bottom: 17px;
    justify-content: space-between;
}

.vid a{
    text-decoration: none;
}

.vid img {
    /* border: 2px solid red; */
    flex-basis: 30%;
    width: 400px;
    height: 210px;
    border-radius: 15px;
    object-fit: cover; /* Crop the image to fit the container while preserving aspect ratio */
    box-shadow: 2px 2px 2px 2px gray;
}


.vid .vid_detail{
    flex-basis: 70%;
    margin-left: 20px;
    height: auto;
}


.vid_detail .video_title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}


.vid_detail .channel_detail{
    display: flex;
    margin-bottom: 10px;

}


.channel_detail .channel_name{
     margin-right: 10px;
}


/* ------------community------------ */


.Community{
    display: flex;
    flex-direction: column;
    /* height: auto; */
    border: 2px solid rgb(232, 230, 230);
    border-radius: 10px;
    margin-right: 30%;
    margin-left: 2%;
    margin-top: 5px;
}

.Community .comm{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    margin: 10px;

}

.comm .channel_detail{
    /* flex-basis: 30%; */
    /* width: 30%; */
    display: flex;
    /* flex-direction: row; */
    /* border: 2px solid red; */
    justify-content: space-around;
    align-items: center;
}

.Community .comm img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* padding: 5px; */
    margin-right: 20px;
    margin-left: 5px;
}

.channel_detail .channel_name{
    margin-left: 20px;
}

.tweet_detail{
    /* width: 100%; */
    /* height: 70px; */
    /* border: 2px solid red; */
    /* margin: 10px; */
}

.tweet_detail textarea{
    width: 100%;
    min-height: 1px;
    font-size: 16px;
    padding: 10px;
    /* border: 1px solid #f70c0c; */
    border-radius: 5px;
    resize: none; /* Disable manual resizing */
    overflow: hidden; /* Hide scrollbars */
    outline: 0px;
    border: 0px;
}



.Community .tweet_photo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Community .image_detail{
    display: flex;
    align-content: center;
    /* background-color: rgb(236, 235, 235); */
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 27px;
    width: 120px;
    height: 27px;
    /* margin-right: 5px; */
    cursor: pointer;
}

.Community .image_detail:hover{
    background-color: rgb(228, 228, 228);
}

  .Community .tweet_photo img{
      width: 25px;
      height: 25px;
      margin-right: 15px;
  }

  .Community .tweet_photo button{
    width: 70px;
    height: 30px;   
    border-radius: 15px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
  }

  .published{
    margin-top: 20px;
    margin-left: 10px;
  }

  .published h3{
    margin-left: 10px;
    /* background-color: rgb(230, 225, 225); */
    width:fit-content;
    padding: 2px 10px;
    border-radius: 5px;
  }
  


.show{
    display: flex;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 70%;
    margin-left: 2%;
    margin-top: 2%;
}


.show_tweet_image img{
    width: 638px;
    height: 638px;
    border-radius: 20px;
    object-fit: contain;
    object-fit: cover;
    /* border: 2px solid red; */
}

.show_avatar{
    /* margin: 35px; */
    /* border: 2px solid rebeccapurple; */
    width: 5%;
    margin-left: 10px!important;
    margin-top: 10px!important;
    /* margin-left: 55px; */
}

.show_tweet_detail{
    /* margin-bottom: 60px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    flex-basis: 88%;
}

.show_tweet_detail div{
    margin-bottom: 10px!important;
    font-size: 18px;
}

.uploaded_image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    display: none;
}

.uploaded_image img{
    width: 600px;
    height: 450px;
    border: 1px solid rgb(157, 157, 183);
    border-radius: 10px;
    object-fit: cover;
    
    

}

.tweet_reaction{
    /* background-color: gray; */
    /* width: 100px; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tweet_reaction  button{
    width: 70px;
    height: 30px;
    border-radius: 20px;
    outline: 0px;
    border: 0px;
}

.tweet_reaction img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

/* option */

.option{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color: black; */
}

.option_sub_class{
    display: none;
}

.sub_class_click{
    display: block;
}

.option_ul_click {
    display: block; /* Change this to block to show the menu */
}

.option_ul {
    /* display: none; */
    position: absolute;
    top: 40px;
    list-style-type: none;
    background-color: rgb(240, 240, 240);
    border-radius: 7px;
    padding: 5px;
    width: 100px;
    height: auto;
}



.option li{
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
}

.option_ul .option li img{
    height: 17px;
    width: 17px;
}


.option img{
    width: 20px;
    height: 20px;
    margin-right: 10%;
    margin-top: 10px;
}

.show div
{
    margin: 2px;
}