<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-primeflix</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="flex-div">
        <div class="nav-left">
            <img src="../frontend/image.folder/menu.jpg" class="menu_icon">
            <img src="../frontend/image.folder/logo_light.png" class="logo_icon">
        </div>

        <div class="nav-middle">
            <div class="search-box">
                <input type="text" placeholder="Search">
                <img src="../frontend/image.folder/search.png" class="search_icon">
            </div>
            <img src="../frontend/image.folder/mike.png" class="mike_icon">
        </div>
        <div class="nav-right ">
            <img src="../frontend/image.folder/upload.png" class="img2">
            <img src="../frontend/image.folder/more.png" class="img2">
            <img src="../frontend/image.folder/notification.png" class="img2">
            <img src="../frontend/image.folder/avatar.jpg" id="avatar">
        </div>
    </nav>



    

 
<!-- -------------------------sidebar--------------------------- -->


<div class="sidebar">
    <div class="shortcut-link">
        <a href="" class="short"><img src="../frontend/image.folder/home.png" alt=""><p>Home</p> </a>
        <a href=""  class="short"><img src="../frontend/image.folder/explore.png" alt=""><p>Explore</p></a>
        <a href="" class="short"><img src="../frontend/image.folder/subscription.png" alt=""><p>Subcriptions</p></a>
        <a href="" class="short"><img src="../frontend/image.folder/watch_letter.png" alt=""><p>watch Later</p></a>
        <a href="" class="short"><img src="../frontend/image.folder/history.png" alt=""><p>History</p></a>
        <a href="" class="short"><img src="../frontend/image.folder/playlist.png" alt=""><p>playlist</p></a>
        <a href="" class="short"><img src="../frontend/image.folder/liked_video.png" alt=""><p>Liked video</p></a>
       <hr>
    </div>
    
    <div class="subscribed-list">
        <H3>SUBSCRIBED</H3>
        <a href=""><img src="../frontend/image.folder/avatar.png">shah rahul</a>
        <a href=""><img src="../frontend/image.folder/avatar.png">shah rahul</a>
        <a href=""><img src="../frontend/image.folder/avatar.png">shah rahul</a>
        <a href=""><img src="../frontend/image.folder/avatar.png">shah rahul</a>
        <a href=""><img src="../frontend/image.folder/avatar.png">shah rahul</a>
    </div>
</div>


<!---------------------------banner--------------------------- -->

<div class="container">
    <div class="banner">
        <img src="../frontend/image.folder/banner.jpg" >
    </div>
    <div class="list-container">
        <div class="vidlist">
            <a href="../frontend/play.folder/play.html"><img src="../frontend/image.folder/thumbnail.jpg"  class="thumbnail"></a>
            <div class="flex-div">
                <img src="../frontend/image.folder/avatar.jpg">
                <div class="video-info">
                    <a href="../frontend/play.folder/play.html">Best channel to learn coding that help you to be a web developer</a>
                    <p>15K View 2 days</p>
                </div>
            </div>
        </div>
        <div class="vidlist">
            <a href=""><img src="../frontend/image.folder/thumbnail.jpg"  class="thumbnail"></a>
            <div class="flex-div">
                <img src="../frontend/image.folder/avatar.jpg">
                <div class="video-info">
                    <a href="">Best channel to learn coding that help you to be a web developer</a>
                    <p>15K View 2 days</p>
                </div>
            </div>
        </div>
        <div class="vidlist">
            <a href=""><img src="../frontend/image.folder/thumbnail.jpg"  class="thumbnail"></a>
            <div class="flex-div">
                <img src="../frontend/image.folder/avatar.jpg">
                <div class="video-info">
                    <a href="">Best channel to learn coding that help you to be a web developer</a>
                    <p>15K View   &bull; 2 days</p>
                </div>
            </div>
        </div>
        <div class="vidlist">
            <a href=""><img src="../frontend/image.folder/thumbnail.jpg"  class="thumbnail"></a>
            <div class="flex-div">
                <img src="../frontend/image.folder/avatar.jpg">
                <div class="video-info">
                    <a href="">Best channel to learn coding that help you to be a web developer</a>
                    <p>15K View &bull; 2 days</p>
                </div>
            </div>
        </div>
        <div class="vidlist">
            <a href=""><img src="../frontend/image.folder/thumbnail.jpg"  class="thumbnail"></a>
            <div class="flex-div">
                <img src="../frontend/image.folder/avatar.jpg">
                <div class="video-info">
                    <a href="">Best channel to learn coding that help you to be a web developer</a>
                    <p>15K View &bull; 2 days</p>
                </div>
            </div>
        </div>
        <div class="vidlist">
            <a href=""><img src="../frontend/image.folder/thumbnail.jpg"  class="thumbnail"></a>
            <div class="flex-div">
                <img src="../frontend/image.folder/avatar.jpg">
                <div class="video-info">
                    <a href="">Best channel to learn coding that help you to be a web developer</a>
                    <p>15K View &bull; 2 days</p>
                </div>
            </div>
        </div>
        <div class="vidlist">
            <a href=""><img src="../frontend/image.folder/thumbnail.jpg"  class="thumbnail"></a>
            <div class="flex-div">
                <img src="../frontend/image.folder/avatar.jpg">
                <div class="video-info">
                    <a href="">Best channel to learn coding that help you to be a web developer</a>
                    <p>15K View &bull; 2 days</p>
                </div>
            </div>
        </div>
        <div class="vidlist">
            <a href=""><img src="../frontend/image.folder/thumbnail.jpg"  class="thumbnail"></a>
            <div class="flex-div">
                <img src="../frontend/image.folder/avatar.jpg">
                <div class="video-info">
                    <a href="">Best channel to learn coding that help you to be a web developer</a>
                    <p>15K View &bull; 2 days</p>
                </div>
            </div>
        </div>
    </div>
 </div>

 
</body>
<script src="script.js"></script>
</html>