<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-primeflix</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="flex-div">
        <div class="nav-left">
            <img src="../frontend/image.folder/menu.jpg" class="menu_icon">
            <img src="../frontend/image.folder/logo_light.png" class="logo_icon">
        </div>

        <div class="nav-middle">
            <div class="search-box">
                <input type="text" placeholder="Search">
                <img src="../frontend/image.folder/search.png" class="search_icon">
            </div>
            <img src="../frontend/image.folder/mike.png" class="mike_icon">
        </div>
        <div class="nav-right ">
            <ul class="nav_ul">
                <li class="nav_li">
                    <img src="../frontend/image.folder/upload.png" class="upload">
                    <div class="sub-class">
                        <ul class="upload_ul">
                            <li><img src="../frontend/image.folder/upload_video.png" alt=""><a href="">Upload Video</a></li>
                            <li><img src="../frontend/image.folder/upload_post.png" alt=""><a href="">Upload Post</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav_li"><img src="../frontend/image.folder/notification.png" class="img2"></li>
                <li class="nav_li"><img src="../frontend/image.folder/avatar.jpg" id="avatar"></li>
            </ul> 
        </div>
    </nav>



    

 
<!-- -------------------------sidebar--------------------------- -->


<div class="sidebar">
    <div class="shortcut-link">
        <a href="" class="short"><img src="../frontend/image.folder/home.png" alt=""><p>Home</p> </a>
        <a href=""  class="short"><img src="../frontend/image.folder/explore.png" alt=""><p>Explore</p></a>
        <a href="" class="short"><img src="../frontend/image.folder/subscription.png" alt=""><p>Subcriptions</p></a>
        <a href="" class="short"><img src="../frontend/image.folder/watch_letter.png" alt=""><p>watch Later</p></a>
        <a href="" class="short"><img src="../frontend/image.folder/history.png" alt=""><p>History</p></a>
        <a href="" class="short"><img src="../frontend/image.folder/playlist.png" alt=""><p>playlist</p></a>
        <a href="" class="short"><img src="../frontend/image.folder/liked_video.png" alt=""><p>Liked video</p></a>
       <hr>
    </div>
    
    <div class="subscribed-list">
        <H3>SUBSCRIBED</H3>
        <a href=""><img src="../frontend/image.folder/avatar.png">shah rahul</a>
        <a href=""><img src="../frontend/image.folder/avatar.png">shah rahul</a>
        <a href=""><img src="../frontend/image.folder/avatar.png">shah rahul</a>
        <a href=""><img src="../frontend/image.folder/avatar.png">shah rahul</a>
        <a href=""><img src="../frontend/image.folder/avatar.png">shah rahul</a>
    </div>
</div>


<!---------------------------banner--------------------------- -->

<div class="container">
    <div class="banner">
        <img src="../frontend/image.folder/banner1.jpg" >
    </div>
    <div class="list-container">
        
    </div>
 </div>

 
</body>
<script src="script.js"></script>
</html>